@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Playwrite+IT+Moderna:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    list-style: none;
    text-decoration: none;
    color: white;
}

body {
    background-color: #224ce8;
}


/* colors */
/* #224ce8 blue */
/* #88fcab green */

nav {
    position: fixed;
    z-index: 999;
    background-color: rgba(57, 100, 255, 0.824);
    top: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 1rem;
    letter-spacing: 0.75px;
    transition: 0.25s;
    font-weight: 500;
    color: white;
}

nav ul li a:hover {
    color: #87fbab;
}

#nav-img {
    width: 200px;
}

#nav-main-p {
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

.fa-eye {
    color: #87fbab;
    font-size: 1.85rem;
}

#nav-p-span {
    color: #87fbab;
}

#logo-div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#logo-div:hover {
    cursor: pointer;
}

#hero-div {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    margin-top: 125px;
    text-align: center;
    gap: 30px;
}

#hero-p {
    font-size: 3rem;
    font-weight: 500;
}

#hero-p-span {
    color: #87fbab;
}

#hero-lorem {
    font-size: 1.3rem;
    font-weight: 500;
}

.hero-btn {
    background-color: #87fbab;
    color: #224ce8;
    font-weight: 600;
    border: none;
    padding: 15px 50px;
    font-size: 1.2rem;
    border-radius: 25px;
    transition: 0.25s;
}



.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 30px;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    100%   { transform: translate(0, -0px); }    
}

#cfo-main-div {
    display: flex;
    padding: 150px 0 150px 0;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.right-div {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 10px;
}

.cfo-btn {
    width: fit-content;
    padding: 15px 35px;
    font-size: 1.1rem;
}

.cfo-next-vision {
    padding: 10px 20px;
    border: 1px solid rgb(163, 163, 163);
    width: fit-content;
    border-radius: 40px;
}

.right-div-p {
    font-size: 2.3rem;
}

.right-div-quotion {
    color: #87fbab;
    font-size: 3rem;
}

.right-div-lorem {
    color: rgba(255, 255, 255, 0.815);
}

#white-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 100px;
}

#left-div {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 10px;
}

.white-section-p {
    color: #333333;
}

.white-section-lorem {
    color: #333333;
}

.white-section-next-vision {
    color: #333333;
}

.white-section-next-vision i {
    color: #333333;
}

#grey-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: rgb(251, 251, 251);
    padding: 50px 0 100px 0;
}

.grey-section-p {
    color: #333333;
}

.grey-section-lorem {
    color: #333333;
}

.grey-section-next-vision {
    color: #333333;
}

.grey-section-next-vision i {
    color: #333333;
}

#gain-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0 100px 0;
}

#gain-desc-div {
    width: 50%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.gain-p {
    font-size: 2.5rem;
    font-weight: 500;
}

#cards-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-top: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 18%;
    border-radius: 15px;
    padding: 30px;
    text-align: center;
    font-size: 1.2rem;
    gap: 25px;
    height: 450px;
    transition: 0.25s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card:hover {
    transform: scale(105%);
}

.card1 {
    background-color: #43c9c7;
}

.card2 {
    background-color: #ff6868;
}

.card3 {
    background-color: #49a8ff;
}

.fa-shield-halved {
    background-color: #69d4d2;
    border-radius: 50px;
    margin-left: 110px;
    padding: 20px;
    font-size: 2rem;
    width: fit-content;
}

.card-p {
    font-size: 2rem;
}

.card-desc {
    font-weight: 300;
}

.fa-chart-simple {
    background-color: #ff8686;
    border-radius: 50px;
    margin-left: 110px;
    padding: 20px;
    font-size: 2rem;
    width: fit-content;
}

.fa-user-group {
    background-color: #6db9ff;
    border-radius: 50px;
    margin-left: 110px;
    padding: 20px;
    font-size: 2rem;
    width: fit-content;
}

.hero-btn:hover {
    transform: scale(105%);
}